{% extends "layout.html" %}

{% block body %}

    <div>
        <form action="/gorev_ekle" method="post">

            <div class="input-group mb-3">

                <input type="text" name="gorev_aciklama" class="form-control" placeholder="Görev detaylarını giriniz.." />

                <div class="input-group-append">
                <button class="btn btn-success" type="submit" id="button-addon1">KAYDET</button>
              </div>
            </div>
        </form>
    </div>

    <div>
        <div class="card" style="margin-top:20px;">
          <div class="card-header">
            GÖREVLERİM
          </div>
            <ul class="list-group">
            {% for item in data %}

                <li class="list-group-item">

                          <div class="clearfix">
                              <div class="float-left">
                                  <div class="form-check">

                                      {% if item[2] == True  %}
                                          <input class="form-check-input" checked="checked" type="checkbox" >
                                    {% else %}
                                        <input class="form-check-input" type="checkbox" >
                                    {% endif %}

                                      <label class="form-check-label">
                                        {{item[1]}}
                                      </label>
                                    </div>

                              </div>
                              <div class="float-right">
                                  <a href="/gorev_duzenle/{{item[0]}}" class="btn btn-sm btn-info">DÜZENLE</a>
                                  <a href="/gorev_sil/{{item[0]}}" onclick="return confirm('Kaydı silmek istediğinizden emin misiniz?');" class="btn btn-sm btn-danger">SİL</a>
                              </div>
                          </div>

                      </li>


            {% endfor %}
            </ul>
        </div>

    </div>

{% endblock %}
